################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment_4/.vs/Assignment_4/FileContentIndex
