################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment_4/.vs/Assignment_4/FileContentIndex/00f08da8-739c-4443-9725-ca10c50cde94.vsidx
/Assignment_4/.vs/Assignment_4/FileContentIndex/bdd4ccce-cb11-44ee-a3ee-fe4b66436014.vsidx
/Assignment_4/.vs/Assignment_4/FileContentIndex/c9594814-1433-46b4-a2fd-d14251de3d74.vsidx
/Assignment_4/.vs/Assignment_4/FileContentIndex/94836821-538e-42ff-866c-df5b4fd8d85c.vsidx
/Assignment_4/.vs/Assignment_4/FileContentIndex/82f88ec4-df87-43ba-a081-f25dbf58136d.vsidx
/Assignment_4/App_Data/KarateSchool(1)(1).mdf
